<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <form>
            <select class="form-control" [(ngModel)]="addPurchase.AccessoryId" name="addId" (ngModelChange)="onSelect()">
                <option *ngFor="let accessory of accessories" [ngValue]="accessory.AccessoryId">{{accessory.AccessoryName}}</option>
            </select>
            <div>
                <label>ClientName *</label>
                <input type="text" class="form-control"
                       [(ngModel)]="addPurchase.ClientName" name="ClientName" required>
            </div>
            <div>
                <label>Quantity *</label>
                <input type="number" class="form-control"
                       [(ngModel)]="addPurchase.Quantity" name="AddQuantity" required>
            </div>
            <div>
                <button type="button" (click)="onAdd(addPurchase)"
                        class="btn btn-primary">
                    Add
                </button>
            </div>
        </form>
    </div>
    <p></p>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Purchases List</div>
            <div class="panel-body">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                    <th>PurchaseId</th>
                    <th>AccessoryId</th>
                    <th>ClientId</th>
                    <th>Quantity</th>
                    <th>PurchaseDate</th>
                    <th>Available actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let purchase of purchases">
                            <td>{{purchase?.PurchaseId}}</td>
                            <td>{{purchase?.AccessoryId}}</td>
                            <td>{{purchase?.ClientId}}</td>
                            <td>
                                <input type="text"
                                       [(ngModel)]="purchase.Quantity" name="Quantity" class="form-control" />
                            </td>
                            <td>{{purchase?.PurchaseDate}}</td>
                            <td>
                                <input type="button"
                                       value="BuyExtra" class="btn btn-default"
                                       (click)="onUpdate(purchase)" />
                                <input type="button" value="Redo"
                                       class="btn btn-danger"
                                       (click)="onDelete(purchase.PurchaseId)" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
