/RetailStore/Database/*.user
/RetailStore/Database/*.dbmdl
*.jfm
/RetailStore/Database/bin
/RetailStore/Database/obj
/RetailStore/Database.Domain/bin
/RetailStore/Database.Domain/obj
/RetailStore/packages
*.user
/RetailStore/WebAPI/bin
/RetailStore/WebAPI/obj
/RetailStore/TestWithForm/bin/Debug
/RetailStore/TestWithForm/obj/Debug
[Bb]in
[Oo]bj
[Dd]ebug
packages
node_modules
\Debug