
@{
    ViewBag.Title = "Buy";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Покупка</title>
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        <form method="post">
            <input type="hidden" value="@ViewBag.AccessoryId" name="AccessoryId" />
            <table>
                <tr>
                    <td><p>Введите своё имя </p></td>
                    <td><input type="text" name="ClientName" /> </td>
                </tr>
                <tr>
                    <td><p>Введите количество комплектующих, которое вы хотите купить :</p></td>
                    <td>
                        <input type="text" name="Quantity" />
                    </td>
                </tr>
                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>

