<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа комплектующих</h3>
        <table>
            <tr>
                <td><p>Id комплектующего</p></td>
                <td><p>Название комплектуюшего</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var a in ViewBag.Accessories)
            {
                <tr>
                    <td><p>@a.accessoryId</p></td>
                    <td><p>@a.accessoryName</p></td>
                    <td><p>@a.price</p></td>
                    <td><p><a href="/Home/Buy/@a.accessoryId">Купить</a></p></td>
                </tr>
            }
            <tr>
                <td><p><a href="/Home/Purchase">Список всех покупок</a></p></td>
            </tr>
        </table>
    </div>
</body>
</html>